{% extends "SitioWebApp/base.html" %}

{% load static %}
{% block title %}Ver Reservas{% endblock %}



{% block content %}
    <!--
    <form action="" method="post" style="width: 50%; color: black; text-align: center; margin: auto;">
        {% csrf_token %}
        <label for="buscar">Ingrese Fecha</label>
        <input type="date" id="fecha" name="fecha">
        <button type="submit" class="btn btn-success" name="btnBuscar" id="btnBuscar">Buscar</button>
    </form>
    -->
    <table class="tab" style="color: darkblue; text-align: center;">
        <tr>
            <th colspan="8">
                <h2 class="section-heading mb-4" style="text-align: center;">
                    <span class="section-heading-lower" style="color: darkblue;">RESERVAS</span>
                </h2>
            </th>
        </tr>
        <tr>
            <th colspan="8">
                {% if "exito" in request.GET %}
                    <p style="color: green; text-align: center; font-size: 20 ">Se quito con exitos</p>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Contacto
            </th>
            <th>
                Tratamiento
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>
                Domicilio
            </th>
            <th>
                Direccion
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
        {% for ver_reservas in ver_reservas %}
            <tr>
                <td>
                    <a href="{% url 'Detalle' ver_reservas.id %}" style="color: darkblue;" >{{ver_reservas.nombre}}</a>
                </td>
                <td>
                    +56 {{ver_reservas.telefono}}
                </td>
                <td>
                    {{ver_reservas.tratamiento}}
                </td>
                <td>
                    {{ver_reservas.fecha_reserva}}
                </td>
                <td>
                    {{ver_reservas.hora_reserva}}
                </td>
                <td>
                    {% if ver_reservas.domicilio == True %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    {% if ver_reservas.direccion %}
                        {{ver_reservas.direccion}}
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'Eliminar' ver_reservas.id %}" class="btn btn-success"><i class="bi bi-trash"></i></a>
                    <a href="{% url 'Modificar' ver_reservas.id %}" class="btn btn-success"><i class="bi bi-gear"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}