{% extends "SitioWebApp/base.html" %}

{% load static %}
{% block title %}Ver Ficha{% endblock %}

{% block content %}

<div class="formu">

    <h2 class="section-heading mb-4" style="text-align: center;">
        <span class="section-heading-lower" style="color: darkblue;">Ficha Clínica realizada</span>
    </h2>
    <p style="color: darkblue; text-align: center; font-size: 20 ">Ficha de <strong>{{ficha.nombre}}</strong></p>
    <p class="mb-3" style="color: rgb(0, 0, 0); text-align: center;font-size: 20;">DETALLE:</p>
    

    <form action="" method="post" style="text-align: center;">
        {% csrf_token %}


        <table style="color: white; text-align: center; margin: auto;">
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.nombre.label}}</strong> : {{ficha.nombre}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.rut.label}}</strong> : {{ficha.rut}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.telefono.label}}</strong> : +56 {{ficha.telefono}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.nacimiento.label}}</strong> : {{ficha.nacimiento}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.edad.label}}</strong> : {{ficha.edad}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.direccion.label}}</strong> : {{ficha.direccion}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.morbido.label}}</strong> : {{ficha.morbido}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.cronico.label}}</strong> : {{ficha.cronico}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.alergia.label}}</strong> : {{ficha.alergia}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.medicamentos.label}}</strong> : {{ficha.medicamentos}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.atencion.label}}</strong> : {{ficha.atencion}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.amputacion.label}}</strong> : {{ficha.amputacion}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.observacion.label}}</strong>
                    <br>
                    <textarea name="observacion" id="" cols="30" rows="5" disabled>{{ficha.observacion}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="color: darkblue;">{{formulario.imagen.label}}</strong>
                    <br>
                    <img src={{ficha.imagen.url}} alt="" style="width: 15%;">
                    <br>
                    {% if ficha.imagen2 %}
                    <strong style="color: darkblue;">{{formulario.imagen2.label}}</strong>
                    <br>
                    <img src={{ficha.imagen2.url}} alt="" style="width: 15%;">
                    {% endif %}
                    <br>
                    {% if ficha.imagen3 %}
                    <strong style="color: darkblue;">{{formulario.imagen3.label}}</strong>
                    <br>
                    <img src={{ficha.imagen3.url}} alt="" style="width: 15%;">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <a href="{% url 'Fichas' %}" class="btn btn-success">Volver</a>
                </td>
            </tr>
        </table>

        <br>


    </form>

</div>

{% endblock %}