{% extends "SitioWebApp/base.html" %}

{% load static %}
{% block title %}Tratamientos{% endblock %}



{% block content %}
  {% for tratamiento in tratamientos %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{tratamiento.imagen.url}}" alt="" style="width: 50%;">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower"><a href="{% url 'Especifico' tratamiento.id %}">{{tratamiento.nombre}}</a></span>
            </h2>
            <p class="mb-3" style="font-size: 20; color: black;">
              Valor: ${{tratamiento.valor}}
            </p>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}

    